<div class="evt-annotation-draw" evtAnchoring>
    <evt-button *ngIf="!viewNotes" label="Show Annotations" (btnClick)="toggleAnnotation(!viewNotes)"></evt-button>
    <evt-button *ngIf="viewNotes" label="Hide Annotations" (btnClick)="toggleAnnotation(!viewNotes)"></evt-button>
    <evt-button [iconRight]="{icon: 'vector-square'}" label="Rectangle" (btnClick)="setDrawType('rect')"></evt-button>
    <evt-button [iconRight]="{icon: 'draw-polygon'}" label="Polygon" (btnClick)="setDrawType('polygon')"></evt-button>
</div>
